
.login__background{
    background-image: url("../../../public/assets/images/bg-login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .login__form{
        width: 30%;
        padding: 60px 40px;
        border-radius: 10px;
        background-color: #000000b7;
        color: gray;
        font-size: 2rem;
        position: relative;
        h1{
            color: white;
            font-size: 4rem;
        }

        input, button{
            height: 50px;
            font-size: 1.6rem;
        }
        a{
            color: whitesmoke;
            &:hover{
                text-decoration: underline;
                color: #188fff;
            }
        }
        .close{
            position: absolute;
            top: 0;
            right: 0;
            zoom: 1.5;
            
            padding: 5px;
            border-radius: 50%;
            &:hover{
                color: var(--primary-color);
                text-decoration: none;
            }
        }
    }
}

