.modalTrailer{
    position: relative;
    .close{
        position: absolute;
        right: -20px;
        top: -25px;
        color: white;
        font-weight: 700;
        border: 2px solid white;
        border-radius: 50%;
        padding: 10px;
        cursor: pointer;
        background-color: transparent;
        transition: all 0.5s;
        &:hover{
            color:#fb4021;
            border: 2px solid #fb4021;

        }
    }

}
